<hr>

<h1 class="display-3 text-center">Released</h1>

<div class="container bg-light"  *ngFor='let item of cartelera'>

    <div *ngIf='!item.ComingSoon'>

            <app-plantilla [item]="item" ></app-plantilla>
        
        <hr>
    </div>
</div>

<h1 class="display-3 text-center">Upcoming</h1>

<div class="container bg-light"  *ngFor='let item of cartelera'>

        <div *ngIf='item.ComingSoon'>
    
                <app-plantilla [item]="item" ></app-plantilla>
            
            <hr>
        </div>
    </div>